//Importazione file variabili
@import "@/styles/variables";

//Stile globali
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  position: relative;
}

// Button
.button-main {
  border: 1px solid $secondary-color;
  background-color: $primary-color;
  text-transform: uppercase;
  color: $secondary-color;
  font-family: $button-font;
  font-size: $button-size;
  width: 220px;
  height: 40px;
  line-height: 40px;
}

.button-main:hover {
  border: 1px solid $primary-color;
  background-color: $secondary-color;
  color: $primary-color;
}

.button-secondary {
  border: 1px solid $third-color;
  background-color: $secondary-color;
  text-transform: uppercase;
  color: $primary-color;
  font-family: $button-font;
  font-size: $button-size;
  width: 220px;
  height: 40px;
  line-height: 40px;
}

.button-secondary:hover {
  border: 1px solid $primary-color;
  background-color: $secondary-color;
}

.button-transparent {
  border: 1px solid $secondary-color;
  background-color: transparent;
  text-transform: uppercase;
  color: $secondary-color;
  font-family: $button-font;
  font-size: $button-size;
  width: 220px;
  height: 40px;
  line-height: 40px;
}

.button-transparent:hover {
  border: 1px solid $primary-color;
  background-color: $primary-color;
}

// Spacing

.px-200 {
  padding-right: 200px;
  padding-left: 200px;
}

// Separator

.separator {
  width: 50px;
  height: 1px;
  background-color: $third-color;
  margin: 0 auto;
}

.separator-reviews {
  width: 60px;
  height: 1px;
  background-color: $secondary-color;
}
