//Importazione file variabili
@import "@/styles/variables";

main {
  // Section 1 Message Chef
  .message-chef {
    padding: 200px 290px 150px;
    .left {
      padding: 50px 100px 30px 30px;
      .text1,
      .text2 {
        font-size: $paragraph-size;
        font-family: $primary-font;
        margin-bottom: 40px;
        .highlighted {
          font-size: $paragraph-size;
          font-family: $primary-font;
          font-weight: $bold;
        }
      }
      .title {
        font-size: $title-section-big;
        margin-bottom: 40px;
        font-family: $hero-font-title;
        line-height: 90px;
      }
    }
    .right {
      .container-image {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0) 86%,
            rgba(3, 3, 3, 0.79) 100%
          ),
          url(../assets/images/info22x.jpg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        position: relative;
        .caption {
          color: $secondary-color;
          text-transform: uppercase;
          margin-bottom: 20px;
          font-size: $caption-small;
          letter-spacing: 2px;
        }
      }

      .container-image:hover {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
        transform: scale(1.03);
        transition: transform 0.35s ease-in-out;
      }
    }
  }
  //   Section 2 Features
  .features {
    .col-left,
    .col-center,
    .col-right {
      width: calc(100% / 3 - 140px);
      margin: 0 70px;
    }
    .title-feature {
      font-size: $icon-title;
      font-family: $hero-font-title;
      margin: 30px 0;
    }
    // .separator {
    //   width: 50px;
    //   height: 1px;
    //   background-color: $third-color;
    //   margin: 0 auto;
    // }
    .text-feature {
      font-size: $icon-text;
      font-family: $primary-font;
      margin: 30px 0;
    }
  }
  //   Section 3 Image + CTA
  .image-cta {
    margin-top: 150px;
    width: 100%;
    height: 890px;
    .image-cta-left {
      width: 60%;
      background-image: url(../assets/images/slider32x.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }
    .image-cta-right {
      width: 40%;
      background-color: $primary-color;
      padding-left: 120px;
      padding-right: 80px;
      .container-subtitle {
        margin-top: 200px;
        .subtitle {
          color: $third-color;
          text-transform: uppercase;
          font-size: 14px;
          word-spacing: 3px;
        }
        .subtitle::before {
          content: "";
          width: 50px;
          background-color: $third-color;
          height: 1px;
          display: inline-block;
          margin-right: 50px;
        }
      }
      .container-text {
        margin-left: 100px;
        width: 60%;
        h1 {
          font-family: $hero-font-title;
          color: $secondary-color;
          margin-top: 60px;
          font-size: $title-section;
        }
        p {
          margin-top: 60px;
          color: $third-color;
          font-family: $primary-font;
          font-size: 18px;
          line-height: 30px;
        }

        .button-main {
          margin-top: 60px;
        }
      }
    }
  }
  // Section 4 Reviews
  .reviews {
    padding: 138px 290px;
    .title {
      font-family: $primary-font;
      font-size: 46px;
      font-style: italic;
    }
    // Review big
    .review-big {
      height: 837px;
      .col-left {
        width: 50%;
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      .col-right {
        width: 50%;
        background-color: $primary-color;
        padding-left: 120px;
        padding-right: 80px;
        .container-text {
          .subtitle {
            margin-top: 140px;
            color: $third-color;
            text-transform: uppercase;
            font-weight: $semibold;
            font-size: $subtitle-section-reviews;
            word-spacing: 3px;
            letter-spacing: 2px;
          }
          width: 76%;
          h1 {
            font-family: $hero-font-title;
            color: $secondary-color;
            margin: 50px 0;
            font-size: $title-reviews;
          }
          .container-icons-reviews {
            margin-bottom: 50px;
            .icon-reviews {
              color: $secondary-color;
              margin-right: 10px;
              font-size: $icon-reviews;
            }
          }
          .text {
            margin-top: 40px;
            p {
              margin-bottom: 20px;
              color: $third-color;
              font-family: $primary-font;
              font-size: 18px;
              line-height: 30px;
            }
          }

          .button-main {
            margin-top: 30px;
          }
        }
      }
      .col-right:hover {
        transform: scale(1.03);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
        transition: transform 0.35s;
      }
    }
    // Review small
    .reviews-small {
      margin-top: 50px;
      height: 745px;
      .col-left,
      .col-right {
        .container-text {
          width: 52%;
          .subtitle {
            color: $third-color;
            text-transform: uppercase;
            font-weight: $semibold;
            font-size: $subtitle-section-reviews;
            word-spacing: 3px;
            letter-spacing: 2px;
          }
          h1 {
            font-family: $hero-font-title;
            color: $secondary-color;
            margin: 20px 0;
            font-size: $title-reviews;
          }
          .container-icons-reviews {
            margin-bottom: 50px;
            .icon-reviews {
              color: $secondary-color;
              margin-right: 10px;
              font-size: $icon-reviews;
            }
          }
          .text {
            margin-top: 40px;
            p {
              margin-bottom: 20px;
              color: $secondary-color;
              font-family: $primary-font;
              font-size: 18px;
              line-height: 30px;
            }
          }
          .button-transparent {
            margin-top: 30px;
          }
        }
      }
      .col-left {
        width: 47%;
        margin-right: 3%;
        background-image: linear-gradient(
            rgb(3, 3, 3) 17%,
            rgba(3, 3, 3, 0.2) 100%
          ),
          url(../assets/images/info52x.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(3, 3, 3);
      }
      .col-right {
        width: 47%;
        margin-left: 3%;
        background-image: linear-gradient(
            rgb(3, 3, 3) 17%,
            rgba(3, 3, 3, 0.2) 100%
          ),
          url(../assets/images/info12x.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(3, 3, 3);
      }
    }
  }

  // Section 5 Immagine full width
  .img-full-width {
    height: 695px;
    width: 100%;
    background-image: linear-gradient(
        rgba(3, 3, 3, 0) 78%,
        rgba(3, 3, 3, 0.6) 100%
      ),
      url(../assets/images/page52x.jpg);
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .caption {
      color: $secondary-color;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: $caption-big;
      letter-spacing: 2px;
    }
  }
}
