//Importazione file variabili
@import "@/styles/variables";

main {
  // Section 1
  .message-chef {
    padding: 200px 290px 150px;
    .left {
      padding: 50px 100px 30px 30px;
      .text1,
      .text2 {
        font-size: $paragraph-size;
        font-family: $primary-font;
        margin-bottom: 40px;
        .highlighted {
          font-size: $paragraph-size;
          font-family: $primary-font;
          font-weight: $bold;
        }
      }
      .title {
        font-size: $title-section-big;
        margin-bottom: 40px;
        font-family: $hero-font-title;
        line-height: 90px;
      }
    }
    .right {
      .container-image {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0) 86%,
            rgba(3, 3, 3, 0.79) 100%
          ),
          url(../assets/images/info22x.jpg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        position: relative;
        .caption {
          color: $secondary-color;
          text-transform: uppercase;
          margin-bottom: 20px;
          font-size: 12px;
          letter-spacing: 2px;
        }
      }

      .container-image:hover {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
        transform: scale(1.03);
        transition: transform 0.35s ease-in-out;
      }
    }
  }
  //   Section 2
  .features {
    .col-left,
    .col-center,
    .col-right {
      width: calc(100% / 3 - 140px);
      margin: 0 70px;
    }
    .title-feature {
      font-size: $icon-title;
      font-family: $hero-font-title;
      margin: 30px 0;
    }
    .separator {
      width: 50px;
      height: 1px;
      background-color: $third-color;
      margin: 0 auto;
    }
    .text-feature {
      font-size: $icon-text;
      font-family: $primary-font;
      margin: 30px 0;
    }
  }
}
