// Colors
$primary-color: #030303;
$secondary-color: #ffffff;
$third-color: #bcbcbc;
$transparent: transparent;

// Fonts
// tipologia
$primary-font: "Lora", serif;
$secondary-font: Arial, Helvetica, sans-serif;
$hero-font-title: "Bebas Neue", cursive;
$button-font: "Work Sans", sans-serif;
// peso
$semibold: 600;
$bold: 700;
// dimensione
$button-size: 14px;
$paragraph-size: 19px;
$title-section-big: 75px;
$icon-title: 30px;
$icon-text: 17px;
$title-section: 65px;
$title-section-small: 46px;
$footer-text: 19px;
$footer-icon: 18px;
$copyright: 12px;
$subtitle-section-reviews: 16px;
$title-reviews: 56px;
$icon-reviews: 14px;
$caption-small: 12px;
$caption-big: 16px;
$title-news-hover: 30px;
$category-news-hover: 16px;
$title-news: 30px;
$info-news: 12px;
