// Colors
$primary-color: #030303;
$secondary-color: #ffffff;
$third-color: #bcbcbc;
$transparent: transparent;

// Fonts
// tipologia
$primary-font: "Lora", serif;
$secondary-font: Arial, Helvetica, sans-serif;
$hero-font-title: "Bebas Neue", cursive;
$button-font: "Work Sans", sans-serif;
// peso
$semibold: 600;
$bold: 700;
// dimensione
$button-size: 14px;
